ul {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/*µ¼º½*/
header {
    height: 82px;
}

nav {
    width: 1200px;
    height: 82px;
    margin: auto;
    /*outline: 1px solid green;*/
}

header ul li {
    float: left;
    text-align: center;
    line-height: 82px;

}

.top1 ul li {
    width: 82px;
}

.top1 ul li:nth-child(1) {
    width: 135px;
}

.top1 ul li img {
    padding-top: 18px;
}

.top1-1 {
    width: 82px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.top1 ul li:nth-child(3) {
    background-color: red;
    margin-left: 20px;
}

.top1 ul li:nth-child(3) a {
    color: white;
}

.top1 ul li:nth-child(3):hover a {
    color: white;
}

.top1 ul li:nth-child(4):hover a {
    color: red;
}
.top1 ul li:nth-child(5):hover a {
    color: red;
}
.top1 ul li:nth-child(6):hover a {
    color: red;
}

.top1-1 {
    width: 90px;
    position: relative;
}

.top1-1-1 {
    display: none;
    width: 480px;
    height: 332px;
    /*outline: 1px  solid red;*/
    position: absolute;
    left: -1px;
    overflow: scroll;
    text-indent: 20px;
}

.top1-1:hover {
    width: 82px;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    background-color: white;
}

.top1-1:hover .top1-1-1 {
    display: block;
    width: 478px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    /*z-index: 2;*/
}
.menu1{
    height: 50px;
    text-align: left;
    line-height: 50px;
    border-bottom: 1px solid #efefef;
}

.top2 {
    float: right;
    height: 82px;
}

.top2-1 {
    margin-right: 20px;
    height: 82px;
    width: 133px;
    text-align: center;
    position: relative;
}

.top2-1-1 {
    display: none;
    width: 133px;
    height: 166px;
    text-align: center;
    position: absolute;
    left: -1px;
}

.top2-1:hover {
    width: 131px;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
}

.top2-1:hover .top2-1-1 {
    display: block;
    width: 131px;
    background-color: white;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
}

.top2-1-1 p {
    height: 50px;
    margin-top: -35px;
}
.gg{
    position: relative;
}
.top2 input {
    width: 326px;
    height: 37px;
    border-radius: 20px;
    outline: none;
    border: 1px solid grey;
    text-indent: 20px;
    /*margin-right: 20px;*/
}
.gg img{
    position: absolute;
    top: 20px;;
    right:-1px;

}
.top2 ul li:nth-child(3) {
    width: 70px;
    position: relative;
    boeder: 1px solid white;

}

.top2 ul li:nth-child(3) img {
    width: 40px;
    height: 40px;
    margin-top: 20px;

}

.top2 ul li > ol li {
    display: none;
    /*outline: 1px solid black;*/
    position: absolute;
    width: 70px;
    height: 50px;
    left: -1px;
    bottom: -37px;
    line-height: 30px;
    /*boeder:1px solid white;*/
}

.top2 ul li > ol li > a {
    padding-left: 20px;
}

.top2 ul li:nth-child(3):hover {
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    outline-color: white;
    width: 68px;
}

.top2 ul li:hover > ol > li {
    display: block;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: white;
    width: 68px;

}

.top2 ul li:hover > ol > li > a {
    color: grey;
}

/*´óÍ¼*/
.picture {
    height: 443px;
    /*background: url("../img/homePage/af2047f14217164e72ed7cf13fa7f9d7131269.jpg") center;*/
}

/*ÄÚÈÝ*/

.content {
    width: 1182px;
    height: 2015px;
    /*outline: solid 1px red;*/
    margin: auto;
    margin-top: 90px;
}

/*×ó±ß²¿·Ö*/
.partLeft {
    width: 742px;
    height: 2015px;
    float: left;
    /*outline: solid 1px #aaa1ff;*/
}

.part1 {
    width: 742px;
    height: 597px;
    /*outline: solid 1px grey;*/
}

.hh{
    width: 742px;
    height: 50px;
    /*border-bottom: 1px solid gold;*/
}

.pp {
    float: left;
}

.part1-2 a {
    color: red;
    font-size: 25px;
}

.en{
    float: right;
}

.part1-3 a {
    color: red;
    font-size: 15px;
}

.part2 {
    height: 259px;
    /*border-bottom: 1px solid #ff3d29;*/
    display: flex;
    justify-content: space-between;
}

.full {
    width: 160px;
    height: 259px;
    position: relative;
    float: left;
    text-align: center;
}

.full img {
    width: 100%;
}

.full a {
    font-size: 15px;
    color: red;
}
.all{
    width: 160px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    border-right: 1px solid  #efefef;
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    background-color: white;
    margin-top: -4px;
    margin-left: -1px;
}
.all:hover{
    background-color: red;
}
.all:hover a{
    color: white;
}

.part2-1-1,.part6-4-02,.part6-7-02{
    width: 70px;
    height: 30px;
    background: url("../img/homePage/3DIMAX.png") no-repeat;
    top: 0;
    left: -3px;
    position: absolute;
}

.info {
    height: 60px;
    position: absolute;
    bottom: 39px;
    left: 0;
    width: 160px;
    /*background-color: rgba(0,0,0,.5);*/
    /*line-height: 50px;*/
    background: linear-gradient(rgba(0,0,0,.05),rgba(0,0,0,.9));

}
.part2-2-1,.part3-4-1,.part4-4-01,.part5-2-01,.part6-1-2{
    width: 70px;
    height: 30px;
    background: url("../img/homePage/3d.png") no-repeat;
    top: 0;
    left: -3px;
    position: absolute;
}

.info p {
    font-size: 15px;
    color: white;
    text-align: left;
    text-indent: 10px;
    margin-top: 0;
    margin-bottom:0;
    padding-top: 30px;
}
.zi{
    float: left;
}
.Fen{
    float: right;
    margin-right: 10px;
    padding-top: 30px;
}
.part3{
    height: 259px;
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

/*¼´½«ÉÏÓ³*/
.part4{
    width:742px;
    height: 737px;
    margin-top: 82px;
    /*outline: 1px solid red;*/
}
.part4-0,.part5{
    height: 335px;
    width:742px;
    /*border-bottom: 1px solid black;*/
    display: flex;
    justify-content: space-between;
}

.part4-0-2 a {
    color: #2da3f5;
    font-size: 25px;
}

.part4-0-3 a {
    color: #2da3f5;
    font-size: 15px;
}

.hot{
    height: 30px;
    line-height: 30px;
    background-color:#fbfbfb;
    font-size: 15px;
    color: #ffb400;
    text-align: left;
    text-indent: 10px;
    margin-top: -4px;
}

.sale{
 height: 45px;
 /*border-bottom: 1px solid yellow;*/
 border-bottom: 1px solid #efefef;
 border-left: 1px solid #efefef;
}
.mini,.buy{
    height: 45px;
    width: 49.3%;
    float: left;
    border-right: 1px solid #efefef;
    line-height: 45px;
}
.mini p{
    margin-top: 15px;
    font-size: 15px;
    color: #999999;
}
.buy a{
    color: #2d98f3;
}
.buy:hover{
    background-color:  #2d98f3;
}
.buy:hover a{
    color: white;
}

.yaya{
    height: 40px;
    line-height: 40px;
}
.yaya p{
    margin-top: 0;
    color: #999999;
}
.part5{
    /*border-top: 1px solid red;*/
    margin-top: 20px;
}
/*ÈÈ²¥Ó¢Óï*/

.part6{
    width:742px;
    height: 520px;
    /*border-bottom: 1px solid green;*/
    /*border-top: 1px solid green;*/
    margin-top: 85px;
}
.part6-0-1 ul li{
    float: left;
    margin-right: 20px;

}
.part6-0-1 ul li:nth-child(1){
    color: red;
    font-size: 25px;
    margin-left: -35px;

}
.part6-0-1 ul li:not(:nth-child(1)){
    padding-top:10px;
}

.part6-0-1 ul li:not(:nth-child(1)):hover{
 border-bottom: 1px solid black;
}
.part6-0-1 a{
    font-size: 15px;
}
.part6-0-2 a{
    float: right;
    color: red;
}

.part6-1{
    width:742px;
    height: 220px;
    display: flex;
    justify-content: space-between;
}
.part6-1-1{
    width: 353px;
    height: 220px;
}
.part6-1-3{
    width:353px;
    height: 60px;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.part6-4{
    width:742px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/*ÓÒ±ß²¿·Ö*/
.partRight {
    width: 362px;
    height: 2015px;
    float: right;
    /*outline: solid 1px #41ff83;*/
}

.partR1{
    width: 362px;
    height: 50px;
}
.partR1 p{
    margin: 0;
    font-size: 25px;
    color: red;
}

.near{
    height: 80px;
    position: relative;
}
.near img{
    float: left;

}
.hua{
    border-top:1px solid #efefef;
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
    width: 229px;
    height: 78px;
    float: left;
    padding-left: 11px;
}

.hua:hover{
    background-color:#efefef ;
}

.p1{
    font-size: 17px;
}
.p2{
    color: red;
    font-size: 14px;
}
.p2 a{
    color: red;
}

.xue{
    position: absolute;
    left: 0;
    top: 0;
}

.love{
    height: 362px;

}
.love ul li,.partR5-4 ul li{
    width: 360px;
    float: left;
    height: 35px;
    display: flex;
    justify-content:space-between;
    line-height: 35px;
    margin-left: -40px ;
}
.love ul li:nth-child(1){
    margin-top: 20px;
}
.partR3-0,.partR3-2{
    color: red;
}
.nini{
    font-size: 13px;
    color: red;
}
.ii{
    color: #9b9ba8;
}
.love ul li a{
    display: block;
    width: 270px;
}
.love ul li:hover{
    background-color: #faf8fa;
}

.partR4{
    height: 100px;
    border-top:1px solid #efefef;
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
}
.partR4-1{
    width: 38px;
    height: 100px;
    background-color: red;
    float: left;
}
.partR4-1 p{
    font-size: 18px;
    color: white;
    margin: 0;
    text-align: center;
    padding-left: 4px;
}
.partR4-2{
    width: 300px ;
    float: left;
    margin-left: 15px;
    margin-top: 25px;

}

.partR4-2 p{
    margin: 0;
    height: 35px;
    line-height: 35px;

}

.partR4-2-1{
    font-size: 25px;
    color: red;
}
.qq{
    float: right;
}
.qq {
    text-align: center;
    font-size: 15px;
    color: red;
}
.partR4-2-2{
    font-size: 15px;
    color: grey;
}
.partR4-2-3{
    float: right;
}

.partR5{
    height: 240px;
    /*border-bottom: 1px solid black;*/
    /*border-top: 1px solid black;*/
    margin-top: 85px;
}
.your{
    width: 362px;
    height: 50px;
}
.and a {
    color: red;
    font-size: 25px;
}
.and{
    float: left;
}
.me{
    float: right;
}
.me a {
    color: red;
    font-size: 15px;
}
.partR5-2{
  height: 190px;
  position: relative;
}
.partR5-2-0 img{
    height: 190px;
}
.partR5-2-0{
    float: left;
}
.partR5-2-1{
    position: absolute;
    left: 0;
    top: 0;
}
.partR5-2-1 img{
    width: 22px;
    height: 26px;
    float: left;
}

.partR5-2-2{
    width: 207px;
    height: 190px;
    float: left;
    padding-left: 13px;

}
.partR5-2-2 a{
    font-size: 18px;
    display: block;
    margin-top: 55px;
    padding-bottom: 15px;
}
.partR5-2-2 p{
    margin: 0;
    color:grey;
    padding-bottom: 10px;
}


.partR5-2-2 span{
    color: #ffbf00;
}
.partR5-2-2:hover{
    background-color: #efefef ;
}
.partR5-3{
    width: 362px;
    height: 188px;

    clear: both;
    padding-top: 20px;
}
.partR5-3-1{
    width: 170px;
    height: 188px;
    float: left;
    position: relative;
}
.second,.thired{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.lili a{
    display: block;
    font-size: 18px;
    text-indent: 10px;

}
.lili p{
    margin: 0;
    padding: 12px 0 12px 10px;
    color: #fdb863;
    font-size: 15px;
}
.enen:hover{
    background-color: #efefef;
}

.partR5-3-2{
    width: 170px;
    height: 188px;
    float: right;
    position: relative;
}
.partR5-4{
    height: 276px;
}

.partR5-4 ul li:nth-child(1){
    margin-top: 20px;
}
.partR5-4 ul li:hover{
    background-color: #faf8fa;
}
.partR5-4 ul li a {
    display: block;
    width: 240px;
}

.other{
    font-size: 13px;
    color: #fdb863;
}
.partR6{
    width: 362px;
    height: 476px;
    margin-top: 98px;

}
.partR6-1-1 a,.partR6-1-2 a{
    color: #ffb400;
}

.p3{
    font-size: 14px;
}
.p3 a{
    color: #fdb863;
}
.partR6-6,.partR6-7{
    color: #fdb863;
}
.nana{
    font-size: 13px;
    color:#fdb863;
}
.partR6-5 ul li a{
    display: block;
    width: 290px;
}


/*底部*/
.foot{
    height: 172px;
    background-color: #262426;
    margin-top: 100px;
    overflow: hidden;
}
.foot p{
    clear: both;
    font-size: 15px;
    color: #666666;
    margin: 0;
    text-align: center;
}
.foot a{
    color: #666666;
}
.foot1{
    width: 225px;
    height: 30px;
    margin:auto ;
    margin-top: 50px;
    line-height: 30px;
    padding-left: 25px;
}
.foot1 p{
    margin-top: 0;
}
.foot1 a{
    color: #ef4238;
    font-size: 15px;
}
.foot1-1 a{
    padding-right: 10px;
    border-right: 1px solid grey;
}
.foot1-2 a{
    padding-left: 10px;
}

.foot1-1,.foot1-2{
    float: left;
}
.partR3 ul,.partR5-4 ul,.partR6-5 ul{
    margin-left: 40px;
}


