*{
    margin: 0;
    height: 0;
}
a{
    text-decoration: none;
}
.header-mini{
    height: 60px;
    border-bottom: 2px red solid;

}
.logo{
    width: 980px;
    height: 60px;
    margin: auto;
}
.logo img{
    width: 133px;
    height: 40px;
    display: flex;
    position: absolute;
    padding-top: 10px;

}
.content{
    height: 390px;
    margin: auto;
   border-bottom: 1px solid #cccccc;

}
.content1{
    width: 980px;
    height: 390px;
    margin: auto;
}
.content1-1{
    margin-left: 57px;
    margin-top: 30px;
}
.menu{
    width: 480px;
    height: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.menu input{
    width: 262px;
    height: 35px;
    outline: none;
    border: 1px solid #cccccc;
    margin-left: 8px;
}
.menu input:focus{
    border: 1px solid #e83a3f;
}
.menu span{
    font-size: 14px;
}
.dd{
    font-size: 12px;
    color: #cccccc;
}
.content1-2{
    width: 144px;
    height: 23px;
   padding-left: 111px;
}
.content1-2 button{
    width: 144px;
    height: 23px;
    font-size: 13px;
}
.content1-3{
    padding-left: 29px;
}
.content1-4,.content1-6{
    padding-left: 44px;
}
.content1-5{
    padding-left: 113px;
    margin-top: -2px;
    height: 25px;
}
.content1-5 span{
    padding: 0px 35px;
    background-color:#eeeeee ;
    color: white;
    font-size: 14px;
}
.content1-7{
    width: 187px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #e83a3f;
    /*margin-left: 112px;*/
    margin:10px 0 10px 112px ;
}
.content1-7 a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.content1-8 a{
    font-size: 14px;
   padding-left: 112px;
    color: red;
}
.foot{
    width: 100%;
    height: 18px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.foot p{
    font-size: 14px;
    text-align: center;
    color:#999999;
}
.foot a{
    color: #999999;
    font-size: 14px;
}
.foot a:hover{
    border-bottom: 1px solid #999999; ;
}